* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #fcf4e4;
}

/* .container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
} */
ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

h2 {
  font-size: 0;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 0.8em;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  /* background-color: lightpink; */
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
    padding: 0 10px;
  }
}

header .bg-flex {
  position: relative;
}
header .bg-flex .bg-img {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 200px;
}
@media screen and (min-width: 768px) {
  header .bg-flex .bg-img {
    position: static;
    left: 0;
    right: 0;
    width: auto;
    margin: 0;
    height: 300px;
  }
}
@media screen and (min-width: 1400px) {
  header .bg-flex .bg-img {
    height: 400px;
  }
}
header .bg-flex .bg-img img {
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 768px) {
  header .bg-flex .bg-img img {
    height: 300px;
  }
}
@media screen and (min-width: 1400px) {
  header .bg-flex .bg-img img {
    height: 400px;
  }
}
header .bg-flex .flex-box {
  /* position: relative; */
  justify-content: space-between;
  width: 100%;
  /* .style-block {
      display: block;
  } */
}
header .bg-flex .flex-box .logo {
  position: absolute;
  top: 10px;
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box .logo {
    left: 10px;
  }
}
header .bg-flex .flex-box .logo img {
  width: 30px;
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box .logo img {
    width: 40px;
  }
}
header .bg-flex .flex-box .mobile-menu {
  position: absolute;
  /* right: 10px; top: 50%;
  transform: translateY(-50%); */
  top: 10px;
  right: 0;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box .mobile-menu {
    display: none;
  }
}
header .bg-flex .flex-box .mobile-menu span {
  display: block;
  width: 30px;
  height: 1px;
  background-color: #ff7473;
}
header .bg-flex .flex-box .mobile-menu span:nth-child(2) {
  margin: 7px 0;
}
header .bg-flex .flex-box nav {
  display: none;
  /* top: 50%;
  transform: translateY(-50%); */
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box nav {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 1400px) {
  header .bg-flex .flex-box nav {
    right: 41px;
  }
}
header .bg-flex .flex-box nav .gnb {
  text-align: center;
}
header .bg-flex .flex-box nav .gnb li {
  padding: 0 20px;
  display: inline-block;
  margin-top: 10px;
}
@media screen and (min-width: 1400px) {
  header .bg-flex .flex-box nav .gnb li {
    padding: 0 40px;
    font-size: 24px;
  }
}
header .bg-flex .flex-box nav .gnb li a {
  color: #ff7473;
  font-size: 20px;
  font-weight: 500;
}
header .bg-flex .flex-box .important-text {
  position: absolute;
  top: 80px;
  left: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #ff7473;
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box .important-text {
    left: 50px;
    top: 120px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1400px) {
  header .bg-flex .flex-box .important-text {
    left: 100px;
    top: 140px;
    font-size: 36px;
  }
}
header .bg-flex .flex-box .important-text span {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box .important-text span {
    font-size: 30px;
  }
}
@media screen and (min-width: 1400px) {
  header .bg-flex .flex-box .important-text span {
    font-size: 36px;
  }
}

main section.About-me h1 {
  color: #ff7473;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  main section.About-me .flex {
    display: flex;
    margin: 0 auto;
    width: 81.0144927536%;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1400px) {
  main section.About-me .flex {
    display: flex;
    width: 71.0144927536%;
    margin-top: 50px;
  }
}
main section.About-me .flex .my-img {
  text-align: center;
  margin-top: 30px;
}
main section.About-me .flex .my-img img {
  vertical-align: bottom;
  width: 230px;
  height: 310px;
}
@media screen and (min-width: 768px) {
  main section.About-me .flex .my-img img {
    width: 250px;
    height: 350px;
  }
}
@media screen and (min-width: 1400px) {
  main section.About-me .flex .my-img img {
    width: 300px;
    height: 400px;
  }
}
main section.About-me .flex .arrow-text {
  position: relative;
}
main section.About-me .flex .arrow-text .arrow {
  display: flex;
  position: absolute;
  right: 0;
  top: -30px;
}
@media screen and (min-width: 768px) {
  main section.About-me .flex .arrow-text .arrow {
    top: 0;
  }
}
main section.About-me .flex .arrow-text .arrow a:first-child {
  margin-right: 5px;
}
main section.About-me .flex .arrow-text .text {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  main section.About-me .flex .arrow-text .text {
    margin-left: auto;
    width: 85%;
  }
}
@media screen and (min-width: 1400px) {
  main section.About-me .flex .arrow-text .text {
    width: 80%;
  }
}
main section.About-me .flex .arrow-text .text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: #34314c;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  main section.About-me .flex .arrow-text .text p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1400px) {
  main section.About-me .flex .arrow-text .text p {
    font-size: 18px;
  }
}
main section.Skills h1 {
  color: #ff7473;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  main section.Skills .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  main section.Skills .flex .left,
main section.Skills .flex .right {
    width: 45%;
  }
}
@media screen and (min-width: 1400px) {
  main section.Skills .flex .left,
main section.Skills .flex .right {
    width: 42.0289855072%;
  }
}
main section.Skills .flex .left .skill-percent,
main section.Skills .flex .right .skill-percent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  main section.Skills .flex .left .skill-percent,
main section.Skills .flex .right .skill-percent {
    width: 100%;
  }
  main section.Skills .flex .left .skill-percent:first-child,
main section.Skills .flex .right .skill-percent:first-child {
    margin-top: 0;
  }
}
main section.Skills .flex .left .skill-percent .out,
main section.Skills .flex .right .skill-percent .out {
  width: 65.7142857143%;
  height: 24px;
  border: 2px solid #ff7473;
}
@media screen and (min-width: 768px) {
  main section.Skills .flex .left .skill-percent .out,
main section.Skills .flex .right .skill-percent .out {
    height: 28px;
  }
}
main section.Skills .flex .left .skill-percent .percent90,
main section.Skills .flex .right .skill-percent .percent90 {
  width: 90%;
  margin-top: 0px;
  height: 20px;
  border: 0;
  background-color: #ff7473;
}
@media screen and (min-width: 768px) {
  main section.Skills .flex .left .skill-percent .percent90,
main section.Skills .flex .right .skill-percent .percent90 {
    height: 24px;
  }
}
main section.Portfolio h1 {
  margin-top: 60px;
  color: #ff7473;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}
main section.Portfolio .multi .text {
  margin-top: 30px;
  text-align: center;
}
main section.Portfolio .multi .text span:first-child {
  border: 4px solid #ff7473;
  padding: 5px;
  color: #ff7473;
}
main section.Portfolio .multi .img-slide img {
  width: 330px;
}
main section.contents h1 {
  color: #ff7473;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 500;
}
main section.contents .contact-home {
  display: flex;
  margin-top: 30px;
}
main section.contents .contact-home li {
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */