* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
  line-height: 0;
  text-indent: -9999px;
  font-size: 0;
}

body {
  font-size: 16px;
  font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #fcf4e4;
}

/* .container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
} */
ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

h2 {
  font-size: 0;
}

h3 {
  font-size: 1.2em;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body.stop-scroll {
  height: 100%;
  overflow-y: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1380px) {
  .container {
    width: 1380px;
  }
}

header {
  overflow-x: hidden;
}
header .bg-flex {
  position: relative;
}
header .bg-flex .bg-img {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #34314c;
  height: 300px;
}
@media screen and (min-width: 768px) {
  header .bg-flex .bg-img {
    position: static;
    left: 0;
    right: 0;
    width: auto;
    margin: 0;
    height: 400px;
  }
}
@media screen and (min-width: 1380px) {
  header .bg-flex .bg-img {
    height: 500px;
  }
}
header .bg-flex .bg-img img {
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 768px) {
  header .bg-flex .bg-img img {
    height: 300px;
  }
}
@media screen and (min-width: 1380px) {
  header .bg-flex .bg-img img {
    height: 400px;
  }
}
header .bg-flex .flex-box {
  justify-content: space-between;
  width: 100%;
}
header .bg-flex .flex-box .logo {
  position: absolute;
  top: 10px;
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box .logo {
    left: 10px;
  }
}
header .bg-flex .flex-box .logo img {
  width: 30px;
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box .logo img {
    width: 40px;
  }
}
header .bg-flex .flex-box .btn {
  position: relative;
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box .btn {
    display: none;
  }
}
header .bg-flex .flex-box span {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  right: 0;
  top: -300px;
  color: #ff7473;
}
header .bg-flex .flex-box .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
header .bg-flex .flex-box .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
header .bg-flex .flex-box .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
header .bg-flex .flex-box .overlay a:hover, header .bg-flex .flex-box .overlay a:focus {
  color: #f1f1f1;
}
header .bg-flex .flex-box .overlay .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 60px;
}
header .bg-flex .flex-box .important-text {
  position: relative;
  justify-content: center;
  align-items: flex-end;
}
header .bg-flex .flex-box .important-text h1 {
  position: absolute;
  top: -170px;
  width: 453px;
  left: 10px;
  font-size: 1.7rem;
  color: #ff7473;
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box .important-text h1 {
    font-size: 2.2rem;
    top: -220px;
    left: 30px;
  }
}
@media screen and (min-width: 1380px) {
  header .bg-flex .flex-box .important-text h1 {
    top: -270px;
    left: 50px;
  }
}
header .bg-flex .flex-box .important-text h1::after {
  content: "";
  margin-left: 0.4rem;
  border-right: 2px solid #777;
  -webkit-animation: cursor 0.9s infinite steps(2);
          animation: cursor 0.9s infinite steps(2);
}
@-webkit-keyframes cursor {
  from {
    border-right: 2px solid #222;
  }
  to {
    border-right: 2px solid #777;
  }
}
@keyframes cursor {
  from {
    border-right: 2px solid #222;
  }
  to {
    border-right: 2px solid #777;
  }
}
header .bg-flex .flex-box #nav {
  display: none;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 999;
  opacity: 0.8;
  background-color: #fcf8f1;
  border: 1px solid #34314c;
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box #nav {
    display: block;
    text-align: center;
  }
}
header .bg-flex .flex-box #nav a {
  display: inline-block;
}
header .bg-flex .flex-box #nav .gnb {
  display: flex;
  align-items: center;
  height: 50px;
}
header .bg-flex .flex-box #nav #menu {
  display: inline-block;
  margin: 0 auto;
}
header .bg-flex .flex-box #nav #menu .heart {
  display: none;
}
@media screen and (min-width: 1380px) {
  header .bg-flex .flex-box #nav #menu:hover a {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box #nav #menu:hover .heart {
    display: block;
    margin-right: 60px;
    transform: rotate(-30deg);
    margin-bottom: -8px;
    font-size: 18px;
    color: #ff7473;
  }
}
header .bg-flex .flex-box #nav #menu:hover .heart.aboutMe {
  margin-right: 90px;
}
header .bg-flex .flex-box #nav #menu:hover .heart.skills {
  margin-right: 50px;
}
header .bg-flex .flex-box #nav #menu:hover .heart.portfolio, header .bg-flex .flex-box #nav #menu:hover .heart.contact {
  margin-right: 80px;
}
header .bg-flex .flex-box #nav a {
  color: #ff7473;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  header .bg-flex .flex-box .menu_top {
    position: fixed;
    top: 0;
    width: 96.8%;
  }
}
@media screen and (min-width: 1380px) {
  header .bg-flex .flex-box .menu_top {
    width: 1380px;
  }
}

main section.About-me h1 {
  color: #ff7473;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  main section.About-me h1 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1380px) {
  main section.About-me h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) {
  main section.About-me .flex {
    margin: 0 auto;
    width: 81.0144927536%;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1380px) {
  main section.About-me .flex {
    display: flex;
    width: 71.0144927536%;
    margin-top: 50px;
  }
}
main section.About-me .flex .my-img {
  text-align: center;
  margin: 10vh 0 0 0;
}
main section.About-me .flex .my-img img {
  vertical-align: bottom;
  width: 230px;
  height: 310px;
}
@media screen and (min-width: 768px) {
  main section.About-me .flex .my-img img {
    width: 250px;
    height: 350px;
  }
}
@media screen and (min-width: 1380px) {
  main section.About-me .flex .my-img img {
    width: 300px;
    height: 400px;
  }
}
main section.About-me .flex .slideshow-container {
  position: relative;
}
main section.About-me .flex .slideshow-container .arrow {
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 0;
  top: -30px;
  /* @include responsive(tablet-screens) {
      top: 0;
  } */
}
@media screen and (min-width: 1380px) {
  main section.About-me .flex .slideshow-container .arrow {
    left: 632px;
    margin-top: 70px;
  }
}
main section.About-me .flex .slideshow-container .arrow a:first-child {
  margin-right: 5px;
}
main section.About-me .flex .slideshow-container .mySlides .slideText {
  margin-top: 30px;
  line-height: 30px;
  text-align: justify;
  /* @include responsive(tablet-screens) {
      margin-top: 60px;
      margin-left: auto;
      font-size: 18px;
      width: 80%;
  } */
}
@media screen and (min-width: 1380px) {
  main section.About-me .flex .slideshow-container .mySlides .slideText {
    width: 80%;
    margin-top: 70px;
    margin-left: 136px;
  }
}
main section.About-me .flex .slideshow-container .mySlides .slideText.right {
  display: none;
  /* @include responsive(tablet-screens) {
      white-space: nowrap;
      width: 61%;
  } */
}
@media screen and (min-width: 1380px) {
  main section.About-me .flex .slideshow-container .mySlides .slideText.right {
    margin-left: 136px;
  }
}
main section.About-me .flex .slideshow-container .mySlides .slideText p {
  font-size: 14px;
  line-height: 40px;
  color: #34314c;
  text-align: justify;
  /* @include responsive(tablet-screens) {
      margin-left: 60px;
      font-size: 16px;
  } */
}
@media screen and (min-width: 1380px) {
  main section.About-me .flex .slideshow-container .mySlides .slideText p {
    font-size: 18px;
  }
}
main section.Skills h1 {
  color: #ff7473;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  main section.Skills h1 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1380px) {
  main section.Skills h1 {
    font-size: 2em;
    margin-top: 150px;
  }
}
main section.Skills a {
  text-decoration: none;
}
main section.Skills .progress-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10vh 0;
}
@media screen and (min-width: 768px) {
  main section.Skills .progress-box {
    flex-direction: row;
  }
}
@media screen and (min-width: 1380px) {
  main section.Skills .progress-box {
    margin: 14vh 0;
  }
}
@media screen and (min-width: 768px) {
  main section.Skills .progress-box .left,
main section.Skills .progress-box .right {
    width: 48%;
  }
}
main section.Skills .bar-thumbnail {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  main section.Skills .bar-thumbnail {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1380px) {
  main section.Skills .bar-thumbnail {
    margin-bottom: 40px;
  }
}
main section.Skills .thumbnail:first-child,
main section.Skills .thumbnail:nth-child(6) {
  margin-left: 0;
}
main section.Skills .thumbnail:nth-child(5),
main section.Skills .thumbnail:nth-child(10) {
  margin-right: 0;
}
main section.Skills .thumbnail:nth-child(11),
main section.Skills .thumbnail:nth-child(12),
main section.Skills .thumbnail:last-child {
  margin-bottom: 0;
}
main section.Skills .thumbnail > img {
  width: 145px;
  height: 180px;
  display: none;
}
main section.Skills .thumbnail > p {
  cursor: pointer;
}
main section.Skills .photo img {
  width: 100px;
}
main section.Skills .thumbnail > pre {
  display: none;
}
main section.Skills pre {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: -282px;
  color: black;
}
main section.Skills #center {
  position: relative;
}
main section.Skills #modal {
  position: fixed;
  /* position: relative; */
  margin: 0 auto;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.8); */
  z-index: 999;
  transition: all 0.5s;
  display: none;
  opacity: 0;
}
main section.Skills #modal.show {
  display: block;
  opacity: 1;
}
main section.Skills image.show {
  display: block;
  opacity: 1;
}
main section.Skills .photo {
  display: flex;
  justify-content: center;
  width: 87.923077%;
  padding: 80px;
  border: 1px solid gray;
  background-color: white;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  main section.Skills .photo {
    width: 600px;
    padding: 100px;
  }
}
@media screen and (min-width: 1380px) {
  main section.Skills .photo {
    width: 700px;
    padding: 100px;
  }
}
main section.Skills .close {
  position: absolute;
  top: 0;
  right: 30px;
  /* left: 10px;
  top: 10px */
  background: black;
  cursor: pointer;
}
@media screen and (min-width: 1380px) {
  main section.Skills .close {
    left: 880px;
    top: 100px;
  }
}
main section.Skills .progress-box .progress-line {
  width: 100%;
  /* margin-bottom: 15px; */
  display: flex;
  justify-content: right;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  main section.Skills .progress-box .progress-line {
    display: flex;
    align-items: center;
  }
}
main section.Skills button {
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}
main section.Skills p {
  width: 30%;
  color: #34314c;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  main section.Skills p {
    width: 45%;
  }
}
@media screen and (min-width: 1380px) {
  main section.Skills p {
    width: 30%;
  }
}
main section.Skills .progress-box .progress-line .progress {
  width: 70vw;
  background-color: #b1b1b1;
  height: 24px;
}
@media screen and (min-width: 768px) {
  main section.Skills .progress-box .progress-line .progress {
    width: 36vw;
    height: 26px;
  }
}
@media screen and (min-width: 1380px) {
  main section.Skills .progress-box .progress-line .progress {
    height: 28px;
  }
}
main section.Skills .progress-box .progress-line .progress .progress-bar {
  height: 100%;
  width: 0%;
  background-color: #34314c;
  position: relative;
  transition: all 5s;
}
main section.Portfolio {
  /* .horizontal-panel .panel_box {
      margin: 3vh 0 3vw 0;

      @include responsive(tablet-screens) {
          margin: 20vh 0 3vw 0;
      }

      @include responsive(pc-screens) {
          margin: 10vh 0 3vw 0;
      }
  } */
  /*  html {
       font-size:12px;
   } */
}
main section.Portfolio h1 {
  color: #ff7473;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  main section.Portfolio h1 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1380px) {
  main section.Portfolio h1 {
    font-size: 2em;
    margin-top: 130px;
  }
}
main section.Portfolio .slide-wrap {
  position: relative;
}
main section.Portfolio .img-slide {
  transition: transform 6s cubic-bezier(0, 0, 0.58, 1);
}
@media screen and (min-width: 768px) {
  main section.Portfolio .img-slide {
    transition: transform 5s cubic-bezier(0, 0, 0.58, 1);
  }
}
@media screen and (min-width: 1380px) {
  main section.Portfolio .img-slide {
    transition: transform 4s cubic-bezier(0, 0, 0.58, 1);
  }
}
main section.Portfolio .img-slide:hover {
  transform: translateY(calc(-100% + 400px));
}
main section.Portfolio .slide {
  position: absolute;
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
  width: 426px;
  height: 450px;
  font-size: 0;
  overflow: hidden;
  /* @include responsive(tablet-screens) {
      width: 600px;        
      height: 575px;
  } */
}
@media screen and (min-width: 1380px) {
  main section.Portfolio .slide {
    width: 750px;
    height: 640px;
    margin-left: 70px;
  }
}
main section.Portfolio [class*=button-] {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0 1.3rem;
  text-align: center;
  height: 3.4rem;
  width: 90%;
  font: 300 1.65rem/3.4rem "Rajdhani";
  text-decoration: none;
  letter-spacing: 0.03rem;
  color: #fff;
  font-weight: 500;
  background: #121111;
  border: solid 1px #f9f9f9;
  border-radius: 5px;
  transition: ease 0.55s all;
}
@media screen and (min-width: 768px) {
  main section.Portfolio [class*=button-] {
    padding: 0 0.5rem;
    width: 100%;
  }
  main section.Portfolio [class*=button-]:last-child {
    padding: 0 0.7rem;
  }
  main section.Portfolio [class*=button-] a {
    text-align: center;
  }
}
@media screen and (min-width: 1380px) {
  main section.Portfolio [class*=button-] {
    width: 49%;
    padding: 0 0.3rem;
    height: 3.4rem;
    font: 300 1.65rem/3.4rem "Rajdhani";
    margin-top: 20px;
  }
  main section.Portfolio [class*=button-]:last-child {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1380px) {
  main section.Portfolio a:last-child {
    margin-left: 3px;
  }
}
main section.Portfolio [class*=button-]:hover {
  background: #f9f9f9;
  border: 1px solid #121111;
}
main section.Portfolio .button-hover:hover {
  line-height: 9em;
}
main section.Portfolio .button-hover:before {
  content: attr(data-text);
  color: #121111;
  position: absolute;
  top: -5.8rem;
}
main section.Portfolio .horizontal-scroll {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* margin-top: 60px; */
}
main section.Portfolio .horizontal-panel {
  flex-shrink: 0;
  justify-content: space-between;
  min-width: 80vw;
  height: 99.8vh;
}
@media screen and (min-width: 768px) {
  main section.Portfolio .horizontal-panel {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    height: 100vh;
  }
}
@media screen and (min-width: 1380px) {
  main section.Portfolio .horizontal-panel {
    min-width: 97.5vw;
  }
}
main section.Portfolio .horizontal-panel .panel_box {
  width: 160vw;
  margin: 10vh 0;
  height: 67.5vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  main section.Portfolio .horizontal-panel .panel_box {
    flex-direction: row;
    width: 82vw;
  }
}
main section.Portfolio .horizontal-panel .panel_img {
  width: 54%;
  height: 100%;
  position: relative;
}
main section.Portfolio .horizontal-panel .panel_img .fixed_num {
  position: absolute;
  top: -10%;
  left: -7%;
  font-size: 9.7vw;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.01rem;
  font-weight: 700;
  color: #ebebeb;
  text-shadow: -1px 0 #868686, 0 1px #868686, 1px 0 #868686, 0 -1px #868686;
}
@media screen and (min-width: 1380px) {
  main section.Portfolio .horizontal-panel .panel_img .fixed_num {
    margin-top: -60px;
  }
}
main section.Portfolio .horizontal-panel .panel_img img {
  width: 87%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  main section.Portfolio .horizontal-panel .panel_img img {
    width: 100%;
    margin-left: 41px;
  }
}
@media screen and (min-width: 1380px) {
  main section.Portfolio .horizontal-panel .panel_img img {
    margin-left: 0;
  }
}
main section.Portfolio .horizontal-panel .panel_text {
  height: 100%;
  width: 60%;
  text-align: justify;
  position: relative;
  top: 200px;
}
@media screen and (min-width: 768px) {
  main section.Portfolio .horizontal-panel .panel_text {
    width: 35%;
    top: 0;
    left: 70px;
  }
}
@media screen and (min-width: 1380px) {
  main section.Portfolio .horizontal-panel .panel_text {
    width: 31%;
    left: 69px;
    height: 750px;
  }
}
main section.Portfolio .horizontal-panel .panel_text h3 {
  font-family: "Montserrat";
  font-size: 5vw;
  letter-spacing: -0.04rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  main section.Portfolio .horizontal-panel .panel_text h3 {
    font-size: 1.8vw;
  }
}
main section.Portfolio .horizontal-panel .panel_text .text p {
  font-size: 1.3rem;
  line-height: 1.7;
  font-family: "Chosunilbo_myungjo";
  padding-bottom: 2rem;
  word-break: break-word;
  width: 90%;
}
@media screen and (min-width: 768px) {
  main section.Portfolio .horizontal-panel .panel_text .text p {
    width: 100%;
  }
}
@media screen and (min-width: 1380px) {
  main section.Portfolio html {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  main section.Portfolio html {
    font-size: 12px;
  }
}
main section.Portfolio .horizontal-panel .panel_img .fixed_num {
  left: 7px;
  z-index: 1;
}
main section.contents h1 {
  color: #ff7473;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  margin: 16vh 0 0 0;
}
@media screen and (min-width: 768px) {
  main section.contents h1 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1380px) {
  main section.contents h1 {
    font-size: 2em;
    margin-top: 150px;
  }
}
main section.contents .contact-home {
  display: flex;
  margin: 10vh 0 0 0;
}
@media screen and (min-width: 1380px) {
  main section.contents .contact-home {
    margin-top: 100px;
  }
}
main section.contents .contact-home li {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  main section.contents .contact-home li {
    font-size: 18px;
  }
}
@media screen and (min-width: 1380px) {
  main section.contents .contact-home li {
    font-size: 22px;
  }
}
main section.contents .contact-home li p {
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-width: 1380px) {
  main section.contents .contact-home li p {
    font-size: 20px;
  }
}
main section.contents form div.mail-form {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  main section.contents form div.mail-form {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  main section.contents form div.mail-form .left {
    width: 49.2753623188%;
  }
}
main section.contents form div.mail-form .left .configuration .write input {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #34314c;
  padding: 5px;
  color: #34314c;
}
main section.contents form div.mail-form .left .configuration .write input::-moz-placeholder {
  color: #34314c;
  font-size: 15px;
}
main section.contents form div.mail-form .left .configuration .write input:-ms-input-placeholder {
  color: #34314c;
  font-size: 15px;
}
main section.contents form div.mail-form .left .configuration .write input::placeholder {
  color: #34314c;
  font-size: 15px;
}
@media screen and (min-width: 1380px) {
  main section.contents form div.mail-form .left .configuration .write input::-moz-placeholder {
    font-size: 16px;
  }
  main section.contents form div.mail-form .left .configuration .write input:-ms-input-placeholder {
    font-size: 16px;
  }
  main section.contents form div.mail-form .left .configuration .write input::placeholder {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  main section.contents form div.mail-form .left .configuration .write input {
    padding: 7px;
  }
}
@media screen and (min-width: 768px) {
  main section.contents form div.mail-form .left .configuration .write .title {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  main section.contents form div.mail-form .right {
    width: 49.2753623188%;
  }
}
main section.contents form div.mail-form .right .write textarea {
  vertical-align: bottom;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #34314c;
  padding: 5px;
  color: #34314c;
}
main section.contents form div.mail-form .right .write textarea::-moz-placeholder {
  color: #34314c;
  font-size: 15px;
  font-weight: 500;
}
main section.contents form div.mail-form .right .write textarea:-ms-input-placeholder {
  color: #34314c;
  font-size: 15px;
  font-weight: 500;
}
main section.contents form div.mail-form .right .write textarea::placeholder {
  color: #34314c;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (min-width: 1380px) {
  main section.contents form div.mail-form .right .write textarea::-moz-placeholder {
    font-size: 16px;
  }
  main section.contents form div.mail-form .right .write textarea:-ms-input-placeholder {
    font-size: 16px;
  }
  main section.contents form div.mail-form .right .write textarea::placeholder {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  main section.contents form div.mail-form .right .write textarea {
    padding: 7px;
    height: 193px;
  }
}
main section.contents form .btn-wrap {
  text-align: center;
}
main section.contents form .btn-wrap .btn {
  margin-top: 30px;
  border: 1px solid #34314c;
  background-color: transparent;
  color: #34314c;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  main section.contents form .btn-wrap .btn {
    font-size: 18px;
    padding: 5px 30px;
  }
}
@media screen and (min-width: 1380px) {
  main section.contents form .btn-wrap .btn {
    font-size: 20px;
    padding: 5px 35px;
  }
}

footer .image {
  text-align: center;
}
footer .image img {
  margin-top: 30px;
  width: 34px;
}
@media screen and (min-width: 768px) {
  footer .image img {
    width: 40px;
  }
}
@media screen and (min-width: 1380px) {
  footer .image img {
    margin-top: 50px;
  }
}
footer .top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: pink;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  footer .top {
    bottom: 50px;
    right: 50px;
  }
}
footer .top a {
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */