@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";



html {
    scroll-behavior: smooth; 
    overflow-x: hidden;
}

body.stop-scroll {
    height: 100%;
    overflow-y: hidden;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;

    @include responsive(pc-screens) {
        width: 1380px;
    }
}

header { 
    overflow-x: hidden;
    
    .bg-flex {
        position: relative;
        .bg-img {
            @include out_container();
            background-color: $center-color;
            height: 300px;

            @include responsive(tablet-screens) {
                @include in_container();
                height: 400px;
            }

            @include responsive(pc-screens) {
                height: 500px;

            }
            img{
                width: 100%;
                height: 200px;
    
                @include responsive(tablet-screens) {
                    height: 300px;
                }
    
                @include responsive(pc-screens) {
                    height: 400px;
                }
            }
        }

        .flex-box {
            justify-content: space-between;
            width: 100%;
    
            .logo {
                position: absolute;
                top: 10px;
    
                @include responsive(tablet-screens) {
                    left: 10px;
                }
    
                img {
                    width: 30px;
    
                    @include responsive(tablet-screens) {
                        width: 40px;
                    }
                }
    
            }
        
            .btn {
                position: relative;

                @include responsive(tablet-screens) {
                    display: none;
                }
            }
            span {
                position: absolute;
                font-size: 30px;
                cursor:pointer;
                right: 0;
                top: -300px;
                color: $title-color;
            }

            .overlay {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                right: 0;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0, 0.9);
                overflow-x: hidden;
                transition: 0.5s;
            }
        
            .overlay-content {
                position: relative;
                top: 25%;
                width: 100%;
                text-align: center;
                margin-top: 30px;
            }
        
            .overlay a {
                padding: 8px;
                text-decoration: none;
                font-size: 36px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }
        
            .overlay a:hover, .overlay a:focus {
                color: #f1f1f1;
            }
        
            .overlay .closebtn {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 60px;
            }

              .important-text {
                position: relative;
                justify-content: center;
                align-items: flex-end;
                h1 {
                    position: absolute;
                    top: -170px;
                    width: 453px;
                    left: 10px;
                    font-size: 1.7rem;
                    color: $title-color;

                    @include responsive(tablet-screens) {
                        font-size: 2.2rem;
                        top: -220px;
                        left: 30px;
                    }

                    @include responsive(pc-screens) {
                        top: -270px;
                        left: 50px;
                    }
                }
                
                h1::after {
                  content: '';
                  margin-left: .4rem;
                  border-right: 2px solid #777;
                  animation: cursor .9s infinite steps(2);
                }
                
                @keyframes cursor {
                  from { border-right: 2px solid #222; }
                  to { border-right: 2px solid #777; }
                }
              }
    
            #nav {
                display: none;
                margin: 0 auto;
                left: 0;
                right: 0;
                z-index: 999;
                opacity: 0.8;
                background-color: #fcf8f1;
    
                border: 1px solid $center-color;
        
                @include responsive(tablet-screens) {
                    display: block;
                    text-align: center;
                }
        
                a {
                    display: inline-block;
                }
        
                .gnb {
                    display: flex;
                    align-items: center;
                    height: 50px;
                }
        
                #menu {
                    display: inline-block;
                    margin: 0 auto;
                    .heart {
                        display: none;
                    }
                    
                    &:hover {
        
                        a{
                            @include responsive(pc-screens) {
                                font-size: 20px;
                            }
                        }
        
                        .heart {
        
                            @include responsive(tablet-screens) {
                                display: block;
                                margin-right: 60px;
                                transform: rotate( -30deg );
                                margin-bottom: -8px;
                                font-size: 18px;
                                color: $title-color;
                            }
        
                            &.aboutMe {
                                margin-right: 90px;
                            }
        
                            &.skills {
                                margin-right: 50px;
                            }
        
                            &.portfolio,
                            &.contact {
                                margin-right: 80px;
                            }
                        }
                    }
                }
        
                a {
                    color: $title-color;
                    @include gothic_font(medium, 20px);
                }
            }
            .menu_top {
                @include responsive(tablet-screens) {
                    position: fixed;
                    top: 0;
                    width: 96.8%;
                }
    
                @include responsive(pc-screens) {
                    width: 1380px;
                }
            }
        }
    }
}
main {
    
    section.About-me {
        h1 {
            color: $title-color;
            text-decoration: underline;
            text-decoration-thickness: 4px;
            margin-top: 60px;

            @include responsive(tablet-screens) {
                font-size: 1.6em;
            }

            @include responsive(pc-screens) {
                font-size: 2em;
            }
        }

        .flex {

            @include responsive(tablet-screens) {
                // display: flex;
                margin: 0 auto;
                width: 81.01449275362319%;
                margin-top: 50px;
            }

            @include responsive(pc-screens) {
                display: flex;
                width: 71.01449275362319%;
                margin-top: 50px;
            }

            .my-img {
                text-align: center;
                margin: 10vh 0 0 0;
                
                img {
                    vertical-align: bottom;
                    width: 230px;
                    height: 310px;
                    
                    @include responsive(tablet-screens) {
                        width: 250px;
                        height: 350px;
                    }

                    @include responsive(pc-screens) {
                        width: 300px;
                        height: 400px;
                    }
                }
            }

            .slideshow-container {
                position: relative;
                .arrow {
                    cursor: pointer;
                    display: flex;
                    position: absolute;
                    right: 0;
                    top: -30px;
    
                    /* @include responsive(tablet-screens) {
                        top: 0;
                    } */

                    @include responsive(pc-screens) {
                        left: 632px;
                        margin-top: 70px;
                    }
    
                    a:first-child {
                        margin-right: 5px;
                    }
                }
                .mySlides {
                    .slideText {
                        margin-top: 30px;
                        line-height: 30px;
                        text-align: justify;
        
                        /* @include responsive(tablet-screens) {
                            margin-top: 60px;
                            margin-left: auto;
                            font-size: 18px;
                            width: 80%;
                        } */
        
                        @include responsive(pc-screens) {
                            width: 80%;
                            margin-top: 70px;
                            margin-left: 136px;
                        }

                        &.right {
                            display: none;
                            /* @include responsive(tablet-screens) {
                                white-space: nowrap;
                                width: 61%;
                            } */
            
                            @include responsive(pc-screens) {
                                margin-left: 136px;
                            }
                            
                            
                        }
                        
                        p {
                            font-size: 14px;
                            line-height: 40px;
                            color: $center-color;
                            text-align: justify;
                            
                            /* @include responsive(tablet-screens) {
                                margin-left: 60px;
                                font-size: 16px;
                            } */
                            
                            @include responsive(pc-screens) {
                                font-size: 18px;
                            }
                        }
                    }
                }
                
            }
            
        }
    }
    

    section.Skills {
        h1 {
            color: $title-color;
            text-decoration: underline;
            text-decoration-thickness: 4px;
            margin-top: 60px;
           

            @include responsive(tablet-screens) {
                font-size: 1.6em;
            }

            @include responsive(pc-screens) {
                font-size: 2em;
                margin-top: 150px;
            }
        }
        
        a {
            text-decoration: none;
        }
        
        .progress-box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 10vh 0;

            @include responsive(tablet-screens) {
                flex-direction: row;
            }

            @include responsive(pc-screens) {
                margin: 14vh 0;
            }

            .left,
            .right {
                @include responsive(tablet-screens) {
                    width: 48%;
                }
            }

        }

        .bar-thumbnail {
            display: flex;
            align-items: center;
            margin-bottom: 28px;

            @include responsive(tablet-screens) {
                margin-bottom: 35px;
            }

            @include responsive(pc-screens) {
                margin-bottom: 40px;                
            }
        }
        
        .thumbnail:first-child,
        .thumbnail:nth-child(6) {
            margin-left: 0;
        }
        
        .thumbnail:nth-child(5),
        .thumbnail:nth-child(10) {
            margin-right: 0;
        }
        
        .thumbnail:nth-child(11),
        .thumbnail:nth-child(12),
        .thumbnail:last-child {
            margin-bottom: 0;
        }
        
        .thumbnail > img {
            width: 145px;
            height: 180px;
            display: none;
        }
        
        .thumbnail > p {
            cursor: pointer;
        }
        
        .photo img {
            width: 100px;
        }

        .thumbnail > pre {
            display: none;
        }
        
        pre {
            display: flex;
            align-items: center;
            font-weight: bold;
            margin-left: -282px;
            color: black;
        }
        
        #center {
            position: relative;
        }
        
        #modal {
            position: fixed;
            /* position: relative; */
            margin: 0 auto;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
            width: 100%;
            /* height: 100%; */
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            /* background: rgba(0, 0, 0, 0.8); */
            
            
            z-index: 999;
            transition: all 0.5s;
        
            display: none;
            opacity: 0;
        }
        
        #modal.show {
            display: block;
            opacity: 1;
        }
        
        image.show {
            display: block;
            opacity: 1;
        }
        
        .photo{
            display: flex;
            justify-content: center;
            width: 87.923077%;
            padding: 80px;
            border:1px solid gray;
            background-color: white;
            margin: 0 auto;

            @include responsive(tablet-screens) {
                width: 600px;
                padding: 100px;
            }

            @include responsive(pc-screens) {
                width: 700px;
                padding: 100px;
            }
        }
        
        .close {
            position: absolute;
            top: 0;
            right: 30px;
            /* left: 10px;
            top: 10px */;
            background: black;
            cursor: pointer;

            @include responsive(pc-screens) {
                left: 880px;
                top: 100px;
            }
        }


        .progress-box .progress-line{
            width: 100%;
            /* margin-bottom: 15px; */
            display: flex;
            justify-content: right;
            margin-bottom: 0;

            @include responsive(tablet-screens) {
                display: flex;
                align-items: center;
            }
        
            
        }

        button {
            background: none;
            border: none;
            text-align: left;
            cursor: pointer;
        }

        p {
            width: 30%;
            color: $center-color;
            @include gothic_font(semibold);

            @include responsive(tablet-screens) {
                width: 45%;
            }

            @include responsive(pc-screens) {
                width: 30%;
            }
        }
        .progress-box .progress-line .progress{
            width: 70vw;
            background-color: #b1b1b1;
            height: 24px;

            @include responsive(tablet-screens) {
                width: 36vw;
                height: 26px;
            }

            @include responsive(pc-screens) {
                height: 28px;
            }
        }
        .progress-box .progress-line .progress .progress-bar{
            height: 100%;
            width: 0%;
            background-color: $center-color;
            position: relative;
            transition: all 5s;
        }
    }

    section.Portfolio {

        h1 {
            color: $title-color;
            text-decoration: underline;
            text-decoration-thickness: 4px;
            margin-top: 60px;

            @include responsive(tablet-screens) {
                font-size: 1.6em;
            }

            @include responsive(pc-screens) {
                font-size: 2em;
                margin-top: 130px;
            }
        }

        .slide-wrap {
            position: relative;
        }

        .img-slide {
            transition: transform 6s cubic-bezier(0, 0, 0.58, 1);

            @include responsive(tablet-screens) {
                transition: transform 5s cubic-bezier(0, 0, 0.58, 1);
            }

            @include responsive(pc-screens) {
                transition: transform 4s cubic-bezier(0, 0, 0.58, 1);
            }

            &:hover {
                transform: translateY(calc(-100% + 400px));
            }
        }

        .slide {
            position: absolute;
            top: -3%;
            left: 50%;
            transform: translateX(-50%);
            width: 426px;
            height: 450px;
            font-size: 0;
            // margin-top: 40px;
            overflow: hidden;

            /* @include responsive(tablet-screens) {
                width: 600px;        
                height: 575px;
            } */

            @include responsive(pc-screens) {
                width: 750px;
                height: 640px;
                margin-left: 70px;   
            }
        }



        [class*=button-] {
            position:relative;
            overflow:hidden;
            display:inline-block;
            padding: 0 1.3rem;
            text-align: center;
            height:3.4rem;
            width: 90%;
            font:300 1.65rem/3.4rem 'Rajdhani';
            text-decoration:none;
            letter-spacing:0.03rem;
            color:#fff;
            font-weight:500;
            background:#121111;
            border:solid 1px #f9f9f9;
            border-radius: 5px;
            -moz-transition:ease 0.55s all;
            -o-transition:ease 0.55s all;
            -webkit-transition:ease 0.55s all;
            transition:ease 0.55s all;

            @include responsive(tablet-screens) {
                padding: 0 0.5rem;
                width: 100%;
                &:last-child {
                    padding: 0 0.7rem;
                }

                a {
                    text-align: center;
                }
            }

            @include responsive(pc-screens) {
                width: 49%;
                padding: 0 0.3rem;
                height: 3.4rem;
                font: 300 1.65rem/3.4rem 'Rajdhani';
                margin-top: 20px;
                &:last-child {
                    padding: 0 1rem;
                }
            }
        }

        a:last-child {
            @include responsive(pc-screens) {
                margin-left: 3px;
            }
        }
        [class*=button-]:hover {
            background:#f9f9f9;
            border:1px solid #121111;
        }
        .button-hover:hover {
            line-height:9em;
        }
        .button-hover:before {
            content:attr(data-text);
            color:#121111;
            position:absolute;
            top: -5.8rem;
        }
        
        .horizontal-scroll {
            display:flex;
            flex-direction:row;
            justify-content:flex-start;
            /* margin-top: 60px; */
        }
        .horizontal-panel {
            flex-shrink:0;
            justify-content:space-between;
            min-width: 80vw;
            height: 99.8vh;

            @include responsive(tablet-screens) {
                display:flex;
                flex-direction:column;
                min-width: 100vw;
                height:100vh;
            }

            @include responsive(pc-screens) {
                min-width: 97.5vw;
            }
        }
        .horizontal-panel .panel_box {
            width: 160vw;
            margin: 10vh 0;
            height:67.5vh;
            display:flex;
            justify-content:space-between;
            flex-direction: column;

            @include responsive(tablet-screens) {
                flex-direction: row;
                width:82vw;
            }
            
        }


        /* .horizontal-panel .panel_box {
            margin: 3vh 0 3vw 0;

            @include responsive(tablet-screens) {
                margin: 20vh 0 3vw 0;
            }

            @include responsive(pc-screens) {
                margin: 10vh 0 3vw 0;
            }
        } */


        .horizontal-panel .panel_img {
            width: 54%;
            height: 100%;
            position: relative;
        }

        .horizontal-panel .panel_img .fixed_num {
            position: absolute;
            top: -10%;
            left: -7%;
            font-size: 9.7vw;
            font-family: 'Montserrat',sans-serif;
            letter-spacing: -0.01rem;
            font-weight: 700;
            color: #ebebeb;
            text-shadow: -1px 0 #868686,0 1px #868686,1px 0 #868686,0 -1px #868686;
            
            @include responsive(pc-screens) {
                margin-top: -60px;
            }
            
        
        }
        .horizontal-panel .panel_img img {
            width: 87%;
            object-position: top;
            // height: 100%; 
            object-fit: cover;
            margin-left: 30px;
            
            @include responsive(tablet-screens) {
                width:100%;
                // height: 550px;
                margin-left: 41px;

            }

            @include responsive(pc-screens) {
                // margin-top: 2.6rem;
                // height: 750px;
                margin-left: 0;
            }
        }
        .horizontal-panel .panel_text {
            height:100%;
            width:60%;
            text-align: justify;
            position: relative;
            top: 200px;

            @include responsive(tablet-screens) {
                width:35%;
                top: 0;
                left: 70px;
            }

            @include responsive(pc-screens) {
                // width: 25%;
                width: 31%;
                left: 69px;
                height: 750px;
            }

            h3 {
                font-family:'Montserrat';
                font-size: 5vw;
                letter-spacing:-0.04rem;
                line-height:1.2;
                margin-bottom:1rem;
                font-weight:800;
    
                @include responsive(tablet-screens) {
                    font-size: 1.8vw;
                }
            }

            .text p {
                font-size:1.3rem;
                line-height:1.7;
                font-family:'Chosunilbo_myungjo';
                padding-bottom:2rem;
                word-break: break-word;
                width: 90%;

                @include responsive(tablet-screens) {
                    width: 100%;
                }
            }
        }

        @include responsive(pc-screens) {
            html {
                font-size: 13px;
            }
        }
        @include responsive(tablet-screens) {
            html {
                font-size: 12px;
            }
        }

       /*  html {
            font-size:12px;
        } */
        
        .horizontal-panel .panel_img .fixed_num {
            left: 7px;
            z-index: 1;
        }
    }

    section.contents {
        h1 {
            color: $title-color;
            text-decoration: underline;
            text-decoration-thickness: 4px;
            margin: 16vh 0 0 0;

            @include responsive(tablet-screens) {
                font-size: 1.6em;
            }

            @include responsive(pc-screens) {
                font-size: 2em;
                margin-top: 150px;
            }
        }

        .contact-home {
            display: flex;
            margin: 10vh 0 0 0;

            @include responsive(pc-screens) {
                margin-top: 100px;
            }
            
            li {
                margin: 0 auto;
                @include gothic_font(medium);
                
                @include responsive(tablet-screens) {
                    font-size: 18px;
                }

                @include responsive(pc-screens) {
                    font-size: 22px;
                }

                p {
                    @include gothic_font(medium);

                    @include responsive(pc-screens) {
                        font-size: 20px;
                    }
                }
            }
        }

        form {
            div.mail-form {
                margin-top: 30px;
                
                @include responsive(tablet-screens) {
                    @include flex_between();
                }
                .left {
                    @include responsive(tablet-screens) {
                        width: 49.27536231884058%;
                    }

                    .configuration {
                        .write  {
                            input {
                                margin-top: 10px;
                                margin-bottom: 20px;
                                width: 100%;
                                border: 1px solid $center-color;
                                padding: 5px;
                                color: $center-color;

                                &::placeholder {
                                    color: $center-color;
                                    font-size: 15px;

                                    @include responsive(pc-screens) {
                                        font-size: 16px;
                                    }
                                }

                                @include responsive(tablet-screens) {
                                    padding: 7px;
                                }

                                @include responsive(pc-screens) {
                                    
                                }
                            }

                            .title {

                                @include responsive(tablet-screens) {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
    
                .right {
                    @include responsive(tablet-screens) {
                        width: 49.27536231884058%;
                    }
                    
                    .write {
                        textarea {
                            vertical-align: bottom;
                            margin-top: 10px;
                            width: 100%;
                            border: 1px solid $center-color;
                            padding: 5px;
                            color: $center-color;
                            
                            &::placeholder {
                                color: $center-color;
                                @include gothic_font(medium, 15px);

                                @include responsive(pc-screens) {
                                    font-size: 16px;
                                }
                            }

                            @include responsive(tablet-screens) {
                                padding: 7px;
                                height: 193px;
                            }
                        }
                    }
                }
            }
    
            .btn-wrap {
                text-align: center;
                .btn {
                    margin-top: 30px;
                    border: 1px solid $center-color;
                    background-color: transparent;
                    color: $center-color;
                    padding: 5px 20px;
                    @include gothic_font(medium, 14px);

                    @include responsive(tablet-screens) {
                        font-size: 18px;
                        padding: 5px 30px;
                    }

                    @include responsive(pc-screens) {
                        font-size: 20px;
                        padding: 5px 35px;
                    }
    
                }
            }
        }
    }
}

footer {
    .image {
        text-align: center;
        img {
            margin-top: 30px;
            width: 34px;
            
            @include responsive(tablet-screens) {
                width: 40px;
            }
            
            @include responsive(pc-screens) {
                margin-top: 50px;
            }
        }
    }

    .top {
        position: fixed;
        bottom: 30px;
        right: 20px;
        background-color: pink;
        padding: 10px;
        border-radius: 5px;

        @include responsive(tablet-screens) {
            bottom: 50px;
            right: 50px;
        }

        a {
            color: white;
            cursor: pointer;
        }
    }
}
